{% extends 'base.html' %}

{% block title %}Team Contribution{% endblock %}

{% block content %}
<!--<ul>
  <li>temporary todo item A</li>
  <li>temporary todo item B</li>
 </ul> -->

<div class="container">

    <h1>Team Contributions</h1>
    <h5>A summary of the contributions of each member for this project</h5>
    <br>

    <h3>Project Manager + (Developer & QA Member)</h3>
    <h4>Ker Ning Hui</h4>
    <p>
        Ning Hui was assigned the role of a Project Manager, along with being a developer and a QA member. Although
        she is the overall manager of this project, she was still required to carry out her duties as a developer
        and a QA member. As a developer, she was assigned the role of working on and coding out the Team Contributons
        page as instructed by the technical lead. As a QA member, she was assigned to work on the selenium and pytest
        codes and testing alonside the QA lead. Finally, as a project manager, she was required to monitor the issues
        and step in whenever necessary. She oversees the overall project movement and actions of her team members while
        giving certain intructions to the QA lead and technical lead when the need arises and to keep the project moving.
    </p>

    <br>
    <br>

    <h3>QA Lead</h3>
    <h4>Koh Fang Ting</h4>
    <p>
        Fang Ting was assigned the role of a QA lead where she leads her QA members. In this team however, there is
        only one other QA member. Therefore, not only is she required to work on the testing just like a QA member,
        she also had to lead the other QA member in the team and provide clear instructions and tasks for that member
        to work on. She came up with the test cases and monitors the commits by the developers so that she can make
        changes to her test cases.
    </p>

    <br>
    <br>

    <h3>Technical Lead</h3>
    <h4>Lee Ze Rong</h4>
    <p>
        Ze Rong was assigned the role of a technical lead whereby he was in charge of the developers in this team.
        In addition to managing the developers under him, he was also required to carry out his duties as a developer.
        He was tasked to work on the To Do History page as well as the overall look and feel of the website,
        all while constantly monitoring the activities of his development team's progress through github commits and pull requests 
        to ensure good programming practices and the feature function as intended from a high level perspective before sending to QA.
    </p>

    <br>
    <br>

    <h3>Developer</h3>
    <h4>Jansen Ros</h4>
    <p>
        Jansen was assigned the role of a developer whereby he was required to code out certain parts of the
        project. He was given the task of developing the To Do page where there is a compilation of all the
        To Do items added.
    </p>

    <br>
    <br>

    <h3>Developer</h3>
    <h4>Ray Tan</h4>
    <p>
        Ray was also assigned the role of a developer and was required to code out certain parts of the project. At the
        start of the project, he was required to work on coding out a simple code base (referencing from the video)
        which will later serve as the core to be further developed on. He was later on assigned to also work on the
        User Login page.
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>

</div>

{% endblock %}