{% extends 'base.html' %}

{% block title %}Todo History{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Todo History</h1>
    <h5>View all todo items from anyone</h5> 
    <!--<button type="submit" class="btn btn-danger">Test</button>-->
    <table style="width 100">
        <tr>
            <th>Content</th>
            <th>DateTime</th>
            <th>Author</th>
            <th>Status</th>
        </tr>

        <tr>
            {% for todo_item in all_items %}
            <td>
                {{ todo_item.content }}
            </td>
            <td>
                {{ todo_item.date_created }}
            </td>
            <td>
                {{ todo_item.author }}
            </td>
            <td>
                {% if todo_item.status == True%}
                Existing
                {% else %}
                Deleted
                {% endif %}

            </td>
        </tr>
        {% endfor %}

    </table>
</div> 
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">Login Here!</a>
{% endif %}
{% endblock %}